*.pyc
*.idea
*.ipynb_checkpoints/
trained_models
*.ipynb
*.pickle
*.pkl
*.pyc
**data
*.csv
.env
.vscode
*.so
src/test_VGDNN_alt.py
src/train_VGDNN_alt.py
src/tests_misc.py
**social_vdgnn.egg-info
**dist
