absl-py==0.9.0
actionlib==1.12.1
alabaster==0.7.12
angles==1.9.12
appdirs==1.4.4
apt-xapian-index==0.47
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
babel==2.9.1
backcall==0.2.0
bagpy==0.4.8
base-local-planner==1.16.7
beautifulsoup4==4.6.0
bitstring==3.1.9
bondpy==1.8.5
brlapi==0.6.6
camera-calibration-parsers==1.11.13
camera-calibration==1.15.0
catkin-pkg-modules==0.4.24
catkin-pkg==0.4.24
catkin==0.7.29
certifi==2022.6.15
chardet==3.0.4
charset-normalizer==2.0.12
click==8.0.4
cloudpickle==2.0.0
colorama==0.3.7
command-not-found==0.3
commonmark==0.9.1
controller-manager-msgs==0.18.4
controller-manager==0.18.4
cryptography==2.1.4
cupshelpers==1.0
cv-bridge==1.13.0
cycler==0.11.0
decorator==5.1.1
defer==1.0.6
defusedxml==0.5.0
diagnostic-analysis==1.9.7
diagnostic-common-diagnostics==1.9.7
diagnostic-updater==1.9.7
distlib==0.3.4
distro-info==0.18ubuntu0.18.04.1
distro==1.7.0
docker-pycreds==0.4.0
docutils==0.18.1
dynamic-reconfigure==1.6.3
filelock==3.4.1
future==0.18.2
gast==0.3.3
gazebo-plugins==2.8.7
gazebo-ros==2.8.7
gencpp==0.6.5
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.16
gennodejs==2.0.1
genpy==0.6.16
ghp-import==2.0.2
gitdb==4.0.9
gitpython==3.1.20
gnupg==2.3.1
google-pasta==0.1.8
graphviz==0.5.2
grpcio==1.26.0
gtimer==1.0.0b5
gym==0.15.4
h5py==2.10.0
html5lib==0.999999999
httplib2==0.9.2
idna==3.3
image-geometry==1.13.0
imagesize==1.3.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
interactive-markers==1.11.5
ipython-genutils==0.2.0
ipython==7.16.3
jedi==0.17.2
jinja2==3.0.3
joblib==0.14.1
joint-state-publisher==1.12.15
kazam==1.4.5
kdl-parser-py==1.13.1
keras-applications==1.0.8
keras-preprocessing==1.1.0
keras==2.3.1
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.3.1
language-selector==0.1
laser-geometry==1.6.7
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
lxml==4.2.1
m2r2==0.3.2
macaroonbakery==1.1.3
mako==1.0.7
markdown==3.3.6
markupsafe==2.0.1
matplotlib==3.3.4
meld==3.18.0
mergedeep==1.3.4
message-filters==1.14.12
mistune==0.8.4
mkdocs==1.2.3
more-itertools==8.1.0
moveit-core==1.0.8
netifaces==0.10.4
numpy==1.19.5
oauth==1.0.1
olefile==0.45.1
opencv-python==4.1.2.30
openshot-qt==2.6.0.dev0
packaging==21.3
pandas==1.1.5
parso==0.7.1
path.py==12.4.0
path==13.1.0
pathlib==1.0.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
pillow==8.4.0
pip==9.0.1
platformdirs==2.4.0
progressbar==2.5
promise==2.3
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.1
ptyprocess==0.7.0
py3rosmsgs==1.18.1
pycairo==1.16.2
pycrypto==2.6.1
pycryptodomex==3.14.1
pycups==1.9.73
pydash==5.1.0
pyglet==1.3.2
pygments==2.11.2
pygobject==3.26.1
pykalman==0.9.5
pymacaroons==0.13.0
pymdown-extensions==9.1
pynacl==1.1.2
pyparsing==3.0.7
pyrfc3339==1.0
pyserial==3.5
python-apt==1.6.5+ubuntu0.7
python-dateutil==2.8.2
python-debian==0.1.32
python-qt-binding==0.4.4
pytz==2021.3
pyxdg==0.25
pyyaml-env-tag==0.1
pyyaml==6.0
pyzmq==16.0.2
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
recommonmark==0.7.1
reportlab==3.4.0
requests-unixsocket==0.1.5
requests==2.27.1
resource-retriever==1.12.6
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.3
roman==2.0.0
rosbag==1.14.12
rosboost-cfg==1.14.9
rosclean==1.14.9
roscreate==1.14.9
rosgraph==1.14.12
roslaunch==1.14.12
roslib==1.14.9
roslint==0.11.2
roslz4==1.14.12
rosmake==1.14.9
rosmaster==1.14.12
rosmsg==1.14.12
rosnode==1.14.12
rosparam==1.14.12
rospkg==1.3.0
rospy==1.14.12
rosservice==1.14.12
rostest==1.14.12
rostopic==1.14.12
rosunit==1.14.9
roswtf==1.14.12
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.9
rqt-dep==0.4.9
rqt-graph==0.4.11
rqt-gui-py==0.5.2
rqt-gui==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.10
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.2
rqt-py-console==0.4.8
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.10
rqt-runtime-monitor==0.5.7
rqt-rviz==0.7.0
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.6.0
rqt-top==0.4.8
rqt-topic==0.4.11
rqt-web==0.4.8
rviz==1.13.21
scipy==1.5.4
screen-resolution-extra==0.0.0
seaborn==0.11.2
secretstorage==2.3.1
sensor-msgs==1.12.8
sentry-sdk==1.8.0
setproctitle==1.2.3
setuptools==59.6.0
shapely==1.6.4
shortuuid==1.0.9
simplejson==3.13.2
six==1.16.0
smach-ros==2.0.1
smach==2.0.1
smclib==1.8.5
smmap==5.0.0
snowballstemmer==2.2.0
social-vdgnn==1.0.0
sphinx-autodoc-typehints==1.4.0
sphinx-bootstrap-theme==0.8.1
sphinx-markdown-parser==0.2.4
sphinx-rtd-theme==1.0.0
sphinx==3.2.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
srdfdom==0.5.2
ssh-import-id==5.7
system-service==0.3
systemd-python==234
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow-probability==0.7.0
tensorflow==1.14.0
termcolor==1.1.0
tf-conversions==1.12.1
tf2-geometry-msgs==0.6.5
tf2-kdl==0.6.5
tf2-py==0.6.5
tf2-ros==0.6.5
tf2-sensor-msgs==0.6.5
tf==1.12.1
theano==1.0.4
topic-tools==1.14.12
traitlets==4.3.3
typing-extensions==4.1.1
ubuntu-advantage-tools==27.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unify==0.5
untokenize==0.1.1
urdfdom-py==0.4.6
urllib3==1.26.11
usb-creator==0.3.3
virtualenv==20.15.1
wadllib==1.3.2
wandb==0.12.21
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5
werkzeug==0.16.0
wheel==0.30.0
wrapt==1.11.2
xacro==1.13.14
xdot==0.9
xkit==0.0.0
yapf==0.32.0
ytsphinx==1.2.1.dev20200430
zipp==3.6.0
zope.interface==4.3.2